.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo-container {
  padding: 0;
  margin: 0;
}

.logo {
  height: auto;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  text-align: center;
}

.link {
  width: 100%;
  color: inherit;
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.3rem;
}

.link:hover {
  color: white;
  font-weight: bold;
}